{% extends "events/base.html" %}

{% block content %}
{% if user.is_authenticated %}
        <center>
            <h1>Add Venue to Database</h1>
            <br><br>
            {% if submitted %}
                Your Venue was submitted
                Successfully!!!
            {% else %}
                <!-- https://docs.djangoproject.com/en/4.0/ref/forms/api/#binding-uploaded-files-to-a-form -->
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- https://docs.djangoproject.com/en/4.0/ref/forms/api/#template-name-label -->
                    {{ form.as_p}}
                    <input type="submit" value="Submit" class="btn btn-success"/>
                </form>
            {% endif %}
        </center>

{% else %}
    <h1>Sorry, you must be logged in</h1>
    <a href="{% url 'login' %}">Login Here</a>
{% endif %}
{% endblock %}
