{% extends "events/base.html" %}

{% block content %}
    <center>
        <h1>
            Hello {{ user }}. Events for {{ month }} {{ current_year }}
        </h1>
        {{ cal|safe }}
        {% if event_list %}
            {% for event in event_list %}
            <div class="card">
                <div class="card-body">
                    {{ event }} - {{ event.event_date }}
                </div><br>
            </div>
            {% endfor %}
        {% else %} 
            Sorry... There are no events this month. 
        {% endif %}
    </center>
{% endblock %}