{% extends "events/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% if event.manager == user %}
            <b>Update</b><br>
            <form action="" method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Update" 
                class="btn btn-secondary"/>   
            </form>
        {% else %}
            <h2>Access Denied</h2>
            <p>Only manager this event can update</p>
            Logged in User: {{ user }} <br>
            Event Manager: {{ event.manager }} <br>
        {% endif %}
    {% else %}
        <h1>Sorry, you must be logged in</h1>
        <a href="{% url 'login' %}">Login Here</a>
    {% endif %}
{% endblock %}